@import '../variables/_variable.scss';

.items_container{
  padding: 15px;
  display: flex;
  align-items: center;
  .checkbox{
    flex: 1;
    display: flex;
    cursor: pointer;
    align-items: center;
    svg{
      font-size: 20px;
    }
    .text{
      flex: 1;
      margin-left: 5px;
    }
    //if checked
    &.checked{
      svg{
        color: $mainColor;
      }
      .text{
        text-decoration: line-through;
        color: #615d5d71;
      }
    }
  }

  .function{
    display: flex;
    svg{
      margin-left: 8px;
      cursor: pointer;
      font-size: 20px;
      &:hover{
        color: $mainColor;
      }
    }
    .remove{
      color:red;
    }
    .modify{
      color:#8888f1;

    }
    
  }
  

  &+&{
    border-top: 1px solid #e2dede71
  }
}